registry = http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm

HTTP_PROXY=http://proxy:8080
NO_PROXY=nexus.wdf.sap.corp

phantomjs_cdnurl = https://nexus.wdf.sap.corp:8443/nexus/service/local/repositories/3rd-party.releases.manual-uploads.hosted/content/org/phantomjs/download/phantomjs/2.1.1
strict-ssl = false